*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	font-family: 'Brush Script MT','Courier','Garamond';
}
.logo{
	color:white;
	font-size: 3vw;
	line-height: 7vh;
	padding: 0 2em;
	margin-right: 0 2em;
	cursor: pointer;
}
.navbar{
	background: 	#3b2b2b;
	height: 7.5vh;
	width: 100%;
}
.navbar-nav{
	float:right;
	margin-right: 5em;
	z-index: -1;
}
.nav-item{
	display: inline-block;
	margin: 0 3em;
	line-height: 7vh;
}
.nav-item a{
	color: white;
	text-transform: uppercase;
	font-size: 3vh;
	padding: 7px 13px;
	border-radius: 100%;
}
.nav-item a:hover,.nav-item a.active{
	background: #1b9bff;
	transition: .5s;
}
.checkbtn{
	/* background:aqua; */
	font-size: 4vh;
	color:white;
	float: right;
	line-height: 7vh;
	margin-right: 0.5em;
	padding: 0 0.5em;
	margin-top: 0.08em;
	border-radius: 10%;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

@media (max-width: 882px){
	.checkbtn{
		display: block;
	}
	.navbar-nav{
		position: fixed;
		width: 40%;
		height: 30vh;
		background:#666666;
		top:-100%;
		right: -100%;
		text-align: right;
		transition: all .3s;
		border-radius: 1% 0 1% 100%;
	}
	.nav-item{
		display: block;
	}
	/* .nav-item a{
		font-size: 20px;
	} */
	.nav-item:first-child{
		padding-top: 0.5em;
	}
	#check:checked ~.navbar-nav{
		right: 0;
		margin:0;
		top:7.5vh;
	}
	.nav-item a:hover{
		background: none;
		color: brown;
	}
	.nav-item a.active{
		background:#1b9bff;
		color: brown;
	}
	.checkbtn:hover{
		background-color: #999999;
	}
}