* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	cursor: url(../img/cursor2.png), auto;
}

img {
	max-width: 100%;
}

#page {
	height: 200%;
	width: 100%;
	transition: all 0.3s ease-in-out;
	position: relative;

}

body {
	background-color: #666666;
	font-family: 'Patrick Hand', cursive;
}

#header {
	position: fixed;
	width: 100%;
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
	z-index: 10;
}

/* background */
@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 10000px 0;
	}
}

@-webkit-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 10000px 0;
	}
}

.stars,
.twinkling {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.stars {
	background: #000 url(../img/bguni.png) repeat top center;
	z-index: -10;
}

.twinkling {
	background: transparent url(../img/twinkling.png) repeat top center;
	z-index: -1;

	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 200s linear infinite;
}

/* end bg */

.container {
	margin: 0 5em 0 2em;
}

.logo {
	padding: 0;
	margin: 0;
	/* float: left; */
}

.logo-img {
	width: 10vh;
	padding: 0;
	vertical-align: top;
}

.navbar {
	width: 100%;
}

.navbar-nav {
	float: right;
	margin: 0.7em auto;
	height: 100%;
}

.nav-item {
	display: inline-block;
	margin: 0 1em;
	line-height: 7vh;
}

.nav-item a {
	color: white;
	font-size: 3vh;
	padding: 7px 13px;
	border-radius: 3px;
}

.nav-item a.active {
	background: #cca353;
}

.nav-item a:hover {
	color: goldenrod;
	font-weight: normal;
}

.checkbtn {
	padding: 20px 0px;
	width: 4em;
	float: right;
	border-radius: 3px;
	display: none;
	margin: 10px auto;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
	position: relative;
}

#MenuButton:hover {
	background-color: transparent;
}

.checkbtn-burger {
	background-color: white;
	width: 20px;
	height: 0.5vw;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}

.checkbtn-burger::before,
.checkbtn-burger::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 0.5vw;
	background-color: white;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}

.checkbtn-burger::before {
	transform: translateY(-16px);
}

.checkbtn-burger::after {
	transform: translateY(16px);
}

#check {
	display: none;
	padding: 0;
}

section {
	padding-bottom: 2vh;
	text-align: center;
}

[type=radio] {
	display: none;
}


/* Intro section  */
#intro {
	height: 40vw;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
	margin-bottom: 3vw;
}

#intro label {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40%;
	height: 90%;
	/* background-color: rebeccapurple; */
	border-radius: 100%;
	margin-top: 7vw;
}

#s2:checked~#slide1,
#s1:checked~#slide3,
#s3:checked~#slide2 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(-75%, 0, -100px);
	transition: 0.5s ease-out;
}

#s2:checked~#slide3,
#s1:checked~#slide2,
#s3:checked~#slide1 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(75%, 0, -100px);
	transition: 0.5s ease-out;
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(0, 0, 0);
	transition: 0.3s ease-in;
}

#intro div,
#resume div,
#contact div,
#footer div,
#about div {
	color: white;
}

[type=radio] {
	display: none;
}

/* resume section */
#resume {
	height: 120vh;
	position: relative;
	padding-top: 10vh;
}

#resume .main-content {
	position: absolute;
	height: calc(100% - 10vh);
	left: 0;
	right: 0;
	/* top: 0;
	bottom: 0; */
}

#resume .main-content .table {
	height: 95%;
	position: absolute;
	left: 0;
	right: 0;
	background-color: wheat;
	margin: 0 5%;
	border-radius: 2%;
}

.resume_avatar {
	background-color: indigo;
	height: 20%;
	position: relative;
	padding: 5% 0;
}

.avatar {
	vertical-align: middle;
	width: 50%;
	height: 100%;
	bottom: 0;
	border-radius: 50%;
	background-color: black;
}

.table-left {
	background: red;
	float: left;
	height: 100%;
	width: 20%;
	position: relative;
}
.table-right {
	background: red;
	float: left;
	height: 100%;
	width: 80%;
	position: relative;
}

.resume_detail {
	/* float: left; */
	width: 100%;
	height: calc(100% - 20%);
	background-color: greenyellow;
}

/* end resume section */
/* about section */
#about {
	height: 90vh;
	padding-top: 10vh;
}

/* end about section */
/* contact section */
#contact {
	height: 90vh;
	padding-top: 10vh;
}

/* end contact section */
/* footer section*/
#footer {
	height: 30vh;
}

/* end */
#header.sticky {
	padding: 0;
	background-color: #ffffff;
}

#header.sticky .nav-item a {
	color: black;
}

#header.sticky .nav-item a:hover {
	font-weight: bolder;
}

#header.sticky .logo-img {
	transition: all 0.3s;
	content: url(../img/logowhite.png);
}

#header.sticky .checkbtn {
	border-color: black;
}

#header.sticky .checkbtn-burger,
#header.sticky .checkbtn-burger::before,
#header.sticky .checkbtn-burger::after {
	background-color: black;
}

.checkbtn.open .checkbtn-burger {
	transform: translateX(50px);
	background-color: transparent;
}

#header.sticky .checkbtn.open .checkbtn-burger {
	transform: translateX(50px);
	background-color: transparent;
}

.checkbtn.open .checkbtn-burger::before {
	transform: rotate(-45deg) translate(-35px, -35px);
}

.checkbtn.open .checkbtn-burger::after {
	transform: rotate(45deg) translate(-35px, 35px);
}

@media (max-width: 805px) {
	.logo {
		/* float: left; */
	}

	.logo-img {
		width: 4em;
		height: 4em;
	}

	.avatar {
		float: none;
	}

	.container {
		margin-left: 0.5em;
		margin-right: 1em;
	}

	.checkbtn {
		display: flex;
	}

	.navbar-nav {
		position: fixed;
		margin: 0;
		width: 50%;
		height: 100%;
		background: #666666;
		right: -100%;
		top: 0;
		transition: all 0.3s ease-in-out;
		text-align: center;
		align-items: center;
		justify-content: center;
		opacity: 1s;
	}

	.nav-item {
		display: block;
	}

	.nav-item {
		margin: 0;
		padding: 2em 0;
	}

	.nav-item a {
		margin: 0;
		padding: 5% 25%;
		display: inline-block;
		font-size: 4vw;
		opacity: 5s;
	}

	.nav-item a:hover {
		background: grey;
		color: brown;
	}

	.nav-item a.active {
		background: #cca353;
		color: brown;
	}

	.checkbtn:hover {
		background-color: #999999;
	}

	#intro {
		margin-bottom: 10%;
		/* height: 70vw; */
	}

	#intro label {
		margin-top: 10%;
	}

}

@media (max-width: 300px) {
	.logo-img {
		display: none;
		transition: 0.6s ease-in-out;
	}
}