*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
img {
	max-width: 100%;
}
#page{
	height: 200%;
	width: 100%;
	transition: all 0.3s ease-in-out;
	position: relative;

}
body{
	background-color: #666666;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
	position: fixed;
	width: 100%;
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
	z-index: 10;
	background-color: green;
}
.container{
	margin: 0 5em 0 2em;
}
.logo{
	padding: 0;
	margin: 0;
	float: left;
}
.logo-img{
	width: 50%;
	/* height: 50%; */
	padding: 0;
	vertical-align: top;
}
.navbar{
	width: 100%;
}
.navbar-nav{
	float:right;
	margin:1em auto;
	height: 100%;
}
.nav-item{
	display: inline-block;
	margin: 0 1em;
	line-height: 7vh;
}
.nav-item a{
	color: white;
	font-size: 3vh;
	padding: 7px 13px;
	border-radius: 3px;
}
.nav-item a.active{
	background: #cca353;
}
.nav-item a:hover{
	color:goldenrod;
}
.checkbtn{
	padding: 20px 0px;
	width: 4em;
	float: right;
	border-radius: 3px;
	cursor: pointer;
	display: none;
	margin: 10px auto;
	justify-content: center;
	align-items: center;
	transition:all  0.3s ease-in-out;
	position: relative;
}
#MenuButton:hover{
	background-color:transparent;
}
.checkbtn-burger{
	background-color: white;
	width: 20px;
	height: 0.5vw;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}
.checkbtn-burger::before,.checkbtn-burger::after{
	content: '';
	position: absolute;
	width: 20px;
	height: 0.5vw;
	background-color: white;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}
.checkbtn-burger::before{
	transform: translateY(-16px);
}
.checkbtn-burger::after{
	transform: translateY(16px);
}
#check{
	display: none;
	padding: 0;
}
section{
	padding-bottom: 100vh;
	text-align: center;
	overflow: hidden;
}
#intro{
	background: url(/Assets/img/hinh2.jpg) repeat scroll #4b4d4c;
	background-size: 100% 165%;
	background-attachment: center;
	overflow: hidden;
	/* position: relative; */
	mix-blend-mode: multiply;
	z-index: 1;
}
#intro div{
	z-index: 2;
}
#intro div {
	color:white;
}
#resume{
	background-color: brown;
}
#contact{
	background-color: chartreuse;
}
#header.sticky{
	padding: 0;
	background-color: #ffffff;
}
#header.sticky .nav-item a{
	color:black;
}
#header.sticky .nav-item a:hover{
	font-weight:bolder;
}
#header.sticky .logo-img{
	transition: all 0.3s;
	content: url(../img/logowhite.png);
}
#header.sticky .checkbtn{
	border-color: black;
}
#header.sticky .checkbtn-burger,#header.sticky .checkbtn-burger::before,#header.sticky .checkbtn-burger::after{
	background-color: black;
}
.checkbtn.open .checkbtn-burger{
	transform: translateX(50px);
	background-color: transparent;
}
#header.sticky .checkbtn.open .checkbtn-burger{
	transform: translateX(50px);
	background-color: transparent;
}
.checkbtn.open .checkbtn-burger::before{
	transform: rotate(-45deg) translate(-35px,-35px);
}
.checkbtn.open .checkbtn-burger::after{
	transform: rotate(45deg) translate(-35px,35px);
}
@media (max-width: 805px){
	.logo-img{
		width: 4em;
		height: 4em;
		float: left;
	}

	.container{
		margin-left: 0.5em;
		margin-right: 1em;
	}
	.checkbtn{
		display: flex;
	}
	.navbar-nav{
		position: fixed;
		margin:0;
		width: 50%;
		height: 50%;
		background:#666666;
		right: -100%;
		top:0;
		transition: all 0.3s ease-in-out;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
	.nav-item{
		display: block;
	}
	.nav-item{
		margin: 0;
		padding:2em 0;
	}
	.nav-item a{
		margin: 0;
		padding: 5% 25%;
		display: inline-block;
		font-size: 4vw;
	}
	.nav-item a:hover{
		background: grey;
		color: brown;
	}
	.nav-item a.active{
		background:#cca353;
		color: brown;
	}
	.checkbtn:hover{
		background-color: #999999;
	}
}
@media (max-width: 300px){
	.logo-img{
		display: none;
		transition: 0.6s ease-in-out;
	}
}